doctype
html(lang=language)
  head
    title My name is Nahuel Diaz
    meta(charset='utf-8')
    meta(name="description" content="description")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
    link(rel='icon' href='img/logo/favicon.png' type='image/png')
    link(rel='stylesheet' href='css/style.css' type='text/css')
    script(src='js/compiled-bundle.min.js' type="text/javascript" defer)
  body
    include _header
    block section
    
