// Size
$vertical_margin: 2.5vh;
$horizontal_margin: 2.5vw;
$padding: 2em;
$header_height: 9vh;
$textHeight: 9vh;
$max_width: 1440px;
$copyright_height: 50px;

// Slider arrows
$arrowsSize: 40px;

// Speed
$transition: 2s;
